*,*:before,*:after{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #FEFCFD;
    font-family: 'Play', sans-serif;
}

body{
    background-color: #231a2b;
}

#logo{
    display: block;
    top:1%;
    z-index: 1000;
    
}

#navBar{
    display:flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    font-size: 1.2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}

#logo{
    transform: scale(1.1);
    position: absolute;
}

#menupng{
    transform: scale(0.8);
}

.navegacion{
    list-style:decimal-leading-zero;
    display: flex;
    width: 100vw;
    justify-content:flex-end;
}

.navegacion a{
    text-decoration: none;
}

nav ul li{
    margin-right: 2vw ;
    margin-left: 3vw;
    color: #d5b0f1;
}

a:hover{
    text-decoration: underline ;
    color: #d5b0f1;

}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.ham span{
    display: block;
    background-color: #FEFCFD;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 5px;
}

main{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    z-index: 1;
}

.hero{
    display: block;
    width: 85%;
    font-size: 5vw;
    padding-top: 15%;
    margin-left: 5%;
}

.hero h1{
    display: block;
    opacity: 0;
    animation: aparecerTexto 0.5s forwards;
    animation-delay: 1.35s;
}

.hero p{
    width: 70%;
    opacity: 0;
    animation: deslizamientoTexto 0.5s forwards;
    animation-delay: 1.75s;
}

@keyframes aparecerTexto{
    0%{
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        
    }
}

@keyframes deslizamientoTexto {
    0%{
        transform: translateX(10%);
    }
    100%{
        opacity: 1;
    }
    
}

.hero span{
    display: block;
    color: #d5b0f1;
    white-space: nowrap;
    width: 25ch;
    margin:0;
    animation: escrito 2s steps(25);
    overflow: hidden;
}

@keyframes escrito{
    from{ 
    width: 0;
    border-right: 4px solid #d5b0f1;
    margin-right: 0;
    }

}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0.4%;
    height: 95vh;
    width: 2vw;
    position: fixed;
    z-index: 9999;
    
}

.redes ul{
    list-style: none;
}

.icon{
    fill:rgb(255, 255, 255);
    width: 25px;
    height: auto;
}

.icon:hover{
    fill: #d5b0f1;
    cursor: pointer;
    
}

.yo{
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 9px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.informacionMia{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3{
    text-align: center;
    font-size: 2.5rem;
}

.informacionMia p{
    font-size: 1.5rem;
    line-height: 2rem;
    
}

.informacionMia a{
    margin-top: 1rem;
    font-size: 1.5rem;
}

#pantalla{
    
    width: 300px;
    height: 320px;
    transition: 1s;
    border-radius: 10px;
}

#linea-1{
    height: 2px;
    color: #FEFCFD;
    width: 5px;
}

#foto{
    
    background-image: url("../Imagenes/Foto.jpg");
    background-color: rgba(213, 176, 241, 0.20);
    background-size: contain;
    width: 300px;
    height: 320px;
    transition: 1s;
    background-blend-mode:screen;
    border: #FEFCFD 3px solid;
    border-radius: 10px;
}

#foto:hover{
    transform: scale(1.2);
    background-color: rgba(213, 176, 241, 0);
    box-shadow: 1px -1px 39px 21px rgba(0,0,0,0.75);

}

#Habilidades{
    height: 100vh;
    width: 73%;
    margin-top: 20%;
    margin-left: 10%;
}

.tecnologias{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 1.8rem;
}

.tecno{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#js{
    width: 90%;
    fill: #f0da50;
}

.icono{
    width: 50% ;
    height: auto;
    fill:#d5b0f1
}

.diseño{
    margin-top: 5%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.secundarias{
    width: 50px;
    fill: #FEFCFD;
    margin-left: 25%;
    
}

#Proyectos{
    height: 100vh;
    width: 73%;
    margin-top: 20%;
    margin-left: 10%; 
}

.grid_Proyectos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}


.imagenProyecto{
    width: 100%;
    border-radius: 10px;
}

.imagenProyecto:hover{
    transform: scale(1.02);
    cursor: pointer;
}

#landingPage{
    grid-column: 1/4;
    
}

#Contacto{
    width: 73%;
    margin-top: 20%;
    margin-left: 10%; 
}
form{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 40px 40px 250px;
    gap: 1em;
    margin-top: 1%;
}
input{
    color: black;
}

.contenedor_form{
    margin-top: 2%;
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to right, #41295a, #2f0743);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
}
#form_asunto{
    grid-column: 1/3;
}

#form_mensajes{
    grid-column: 1/3;
}

.centrar_boton{
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column:1/3
}
#enviar_form{
    height: 23px;
    background-color: #d5b0f1;
    width: 100px;
}

footer{
    text-align: right;
    margin-top: 5%;
}

.modal_contenedor{
    visibility:hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_contorno{
    width: 85vw;
    padding-bottom: 2%;
    background: linear-gradient(to right, #41295a, #2f0743); 
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size:1.5rem;
    border-radius: 10px;
}

.modal_contorno h1{
    font-size: 1.7rem;
}

#visual_landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.modal_contorno ul{
    display: grid;
    grid-template-columns: 60% 30%;
    list-style: none;
    align-items: flex-end;
}

.modal_contorno p{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}


#landing_links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    gap: 20%;
    align-items: center;
}
.modal_contorno p a{

    text-align: center;
}
#tele{  
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
}

#celular{
    width: 50%;
}

.cerrar{
    font-size: 1.7rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 0.1%;
    margin-right: 0.8%;
}

.cerrar:hover{
    cursor: pointer;
}


#modal_tresEnR img{
    border-radius: 8px;
    width: 90%;
    margin-left: 5%;
}
.sitios_links{
    margin-top: 1%;
    display: flex;
    margin-left: 20%;
    text-align: center;
    width: 60%;
    justify-content: space-between;
}
#div_pokeimg{
    display: flex;
    width: 100%;
    justify-content: center;
}
#modal_pokeapi img{
    width: 650px;
    border-radius: 8px;
    margin-bottom: 1%;
}

/*Diseño Responsivo*/
@media(max-width:768px){
        
    
    .ham{
        display: block;
        position: absolute;
        z-index: 9999;
        top:0;
        left: 85vw;
    }

    .navegacion{
        background-color: #70538a;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80%;
        margin-left: 10%;
        z-index: 100;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        display: none;
    }

    .hero{
        margin-left: 10%;
        font-size: 6vw;
    }
    .yo{
        width: 80%;
        margin-top: 20%;
        margin-left: 10%;
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
    }
    .informacionMia h3{
        font-size: 2rem;
    }
    .informacionMia p{
        font-size: 1.5rem;
        align-items: center;
        text-align: justify;
        
    }
    .redes{
        display: none;
    }
    .informacionMia{
        margin-bottom: 5%;
    }
    #Habilidades{
        margin-left: 12%;
        
    }
    .navegacionActivada{
        display: flex;
        animation: muestraMenu 1s ease-in-out both;
    }
    #foto{
        background-color: rgba(213, 176, 241, 0);
    }
    #foto:hover{
        transform: none;
        box-shadow: none;
    }
    .flex_separacion{
        display: flex;
        margin-top: 10%;
        height: 90%;
        flex-direction: column;
        justify-content: space-between;
    } 
    #modal_pokeapi img{
        width: 65%;
    }

}

@media(max-width:466px){

    .navegacion{
        width: 65%;
    }

    .informacionMia h3{
        font-size: 1.5rem;
    }

    .hero{
        margin-top: 25%;
        margin-bottom: 25%;
    }

    .informacionMia p{
        font-size: 1rem;
        align-items: center;
        text-align: justify;
        
    }

    .modal_contorno{
        font-size: 1.2rem;
        
    }

    #landing_links{
        margin: 0;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .contenedor_form{
        height: 470px;
    }
    #form_nombre{
        width: 100%;
    }

    #form_email{
        width: 100%;
    }

    #pantalla{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin:0;
        width: 100%;
        height: auto;
    }

    #foto{
        margin:0;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
    }

    .tecnologias{
        font-size: 1.2rem;
    }

    .diseño{
        font-size: 0.8rem;
    }

    .secundarias{
        width: 10vw;
    }

    form{
        grid-template-rows: 40px 40px 40px 250px;
    }

    #form_email{
        grid-column: 1/3;
    }
    
    #form_nombre{
        grid-column: 1/3;
    }
    
    #enviar_form{
        height: 23px;
        background-color: #d5b0f1;
        width: 100px;
    }
    #tele{
        width: 130%;
        margin-left: 19%;
    }
    .flex_separacion p{
        font-size: 1.3rem;
    }
    #celular{
        width: 70%;
    }
    #modal_pokeapi img{
        width: 90%;
    }
        
}
/*Animaciones*/

    @keyframes muestraMenu{
        0%{
            transform: translateX(100%);
        }
    }

    /*Haciendo una X para cerrar navBar activado*/
    .br-1.animado{
        transition: 0.7s;
        transform: rotate(-45deg) translate(-10px,8px);
    }

    .br-2.animado{
        transition: 0.7s;
        opacity: 0;
    }

    .br-3.animado{
        transition: 0.7s;
        transform: rotate(45deg) translate(-10px,-8px);
    }


